<h2>Edit your profile <%= @profile.user.first_name %></h2>
<%= flash[:fail] if flash[:fail] %>
<%= render partial: 'profile_form', locals: {user: @profile, url:user_profile_path(@user)} %>

<%= link_to 'Back', user_path(@user) %>