<h3>We work at the Denver Art Museum.</h3>
<h3>We like to go to the movies.</h3>
<h4>If these two things do not apply to you then...</h4>
<%= image_tag 'https://i.imgur.com/MlTDGAp.gif' %>

<%= link_to 'Become a member', signup_path %> |
<%= link_to 'Member Log In', login_path %> |
<%= link_to 'Log In with Facebook', '/auth/facebook' %>