<h1>Welcome to DAM Movie Club!</h1>
<h4>We like to movie.</h4>

<%= link_to 'Become a member', signup_path %> |
<%= link_to 'Member Log In', login_path %> |
<%= link_to 'Log In with Google', '/auth/google_oauth2' %> |
<%= link_to 'Log In with Facebook', '/auth/facebook' %>