/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: 'BurfordMarquee';
   src: url('BurfordMarquee.ttf') format('truetype');
 }

@font-face {
  font-family: 'Burford-ExtrasSetA';
  src: url('Burford-ExtrasSetA.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background-color: rgb(48, 57, 99);
}

.home {
  text-align: center;
}

.title {
  font-family: BurfordMarquee;
  font-size: 4em;
  margin: 0;
}
.title.lrg {
  font-size: 7.5em;
}

.specialA {
  font-family: Burford-ExtrasSetA;
  font-size: 8em;
  margin: -40px;
}

.homeimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  margin-bottom: 20px;
}

.content {
  margin-left: 3.5em;
  flex-grow: 1;
}

.right {
   float: right;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

div.gallery {
  margin: 5px;
  border: 3px solid #ccc;
  width: 12em;
}

div.gallery.users {
  width: 14rem;
}

div.gallery:hover {
  border: 3px solid #777;
}

div.gallery img {
  width: 100%;
}

div.gallery.admin {
  width: 150px;
}

div.desc {
  padding: .50rem;
  text-align: center;
}

.avatar {
  border-radius: 50px;
  margin-right: 5px;
  vertical-align: bottom;
}

.profypic {
  border-radius: 15px;
  width: 20rem;
}

.poster {
  width: 10rem;
}

.column {
  float: left;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=text], select {
  width: 20rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

input[type=password], [type=email], select {
  width: 20rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

input[type=submit] {
  width: 20rem;
  background-color: rgb(48, 57, 99);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
 
textarea {
  width: 35rem;
  height: 12rem;
  margin: .5rem 0 .5rem 0;
  padding: 12px 20px;
  display: block;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  resize: none;
  font-family: 'Montserrat', sans-serif;
}

.comment {
  margin-left: 50px;
}

.button {
  background-color: rgb(48, 57, 99);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 4px;
}

.button1 {
  padding: 14px;
  font-size: 1.2rem;
}

.button2 {
  padding: 8px;
  font-size: 14px;
}

.center {
  display: flex;
  justify-content: center;
}

.alert {
  color: firebrick;
  background-color: #e6bbbb;;
  margin: 10px;
  width: 20%;
}

.cat {
  float: right;
  margin-left: 6em;
  margin-right: 14em;
}

.popcat {
  border-radius: 125px;
}

.party {
  width: 20em;
}

.searchbar {
  width: 45rem;
  align-items: center;
  display: flex;
}

.details {
  font-size: 1.2em;
  /* font-weight: bold; */
}

.reviews {
  margin-right: 3.5em;
}

/* .userpix {
  max-height: 12.5em;
} */

footer {
  font-size: .75em;
  text-align: center;
  opacity: 0.4;
  margin-top: 4em;
  flex-grow: 0;
}

@media only screen and (max-width: 700px) {
  .cat { float: none; margin: 0;}
  .content {margin: 1rem;}
  div.gallery {width: 25em;}
  div.gallery.users {width: 10rem;}
  div.desc { font-size: .75em;}
  .homeimage {width: 20rem;}
  .poster {width: 10rem;}
  .searchbar {
    display: block;
  }
  .star-rating {display: block;}
  .title.lrg {font-size: 3rem;}
  .title {font-size: 3.5rem;}
  textarea { width: 21rem;}
}