<% if @user == current_user %>
  <h1> My Movie Reviews </h1>
<% else %>
  <h1><%= @user.full_name %>'s Movie Reviews</h1>
<% end %>

<% @reviews.each do |review| %>
  <h2><%= review.movie.title %></h2> 
  <%= review.content %>
  <p><%= link_to 'Edit Review', edit_movie_review_path(review.movie.id, review.id), class: 'button button2' if current_user == review.user %></p>
<% end %>